#_bodyContainer {
    /* font-family: 'Poppins', 'Noto Sans Thai', sans-serif; */
    width: 100%;
    height: 100%;
    overflow: visible;
}

._bodyScroll {
    width: 100%;
    height: 100%;
    overflow: visible;
    /* transition: all 1.5s cubic-bezier(0.22, 0.61, 0.36, 1); */
    /* transition: all 1.5s cubic-bezier(0.5, 0, 0.3, 1); */
    transition: all 1.5s cubic-bezier(0.8, 0, 0.2, 1);
}

._bodyScroll.onload {
    transform: translateY(-100%);
}

.app_splashScreen {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app_splashScreenContainer {
    width: 100%;
    height: 100%;
}

.app_Main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app_MainContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainContent {
    width: 100%;
    height: 100%;
}

.mainContent.stop-scroll {
    overflow: hidden;
}

.mainContent::-webkit-scrollbar {
    width: 0px;
    opacity: 0px;
}

.app_MainScroll {
    width: 100%;
    height: 100%;
    overflow: visible;
    transform: translateY(0);
    transition: all 1.12s cubic-bezier(0.6, 0, 0.4, 1);
}

/* .app_MainScroll.stop-scroll {
    overflow: hidden;
} */
.app_MainScroll::-webkit-scrollbar {
    width: 0px;
    opacity: 0px;
}